<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        
        <table class="job-listing">
 
        @foreach (var jobs in @ViewBag.jobs)
        {
            <tr>
                <td>ID: @jobs.Id <br />
                Name: @jobs.Name <br />
                Employer: @jobs.Employer <br />
                Location: @jobs.Location <br />
                Position Type: @jobs.PositionType <br />
                Skill: @jobs.CoreCompetency</td>
            </tr> 

        }
        </table>
        <br />
    }


</div>